<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Research</h4>
    <hr>
    <div class="row mb-3">
      <div class="col">
        <b>Computational Intelligence Research Group (CIRG), University of Pretoria</b><br>
        Interests include machine learning, hyper heuristics, causal inference and reasoning, attention networks, artificial neural network evolution.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>South African Marketing Research Association (SAMRA)</b><br>
        Interests include customer satisfaction and the role that artificial intelligence plays.
      </div>
    </div>
  </div>
</div>
