<div class="row pt-3 mb-4">
  <div class="col">
    <h4 class="text-uppercase text-danger">Projects</h4>
    <hr>
    <div class="row mb-3">
      <div class="entity px-3">
        <img src="assets/images/artofact.io.png" class="project-logo mx-auto">
      </div>
      <div class="col">
        <b>Artofact.io</b><br>
        A cloud-based, all-encompassing business management tool that utilises Artificial Intelligence to optimise business output.<br>
        <small><a href="https://gitlab.com/Compiax/artofact.io" target="_blank">https://gitlab.com/Compiax/artofact.io (proprietary)</a></small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <img src="assets/images/consulta.png" class="project-logo mx-auto">
      </div>
      <div class="col">
        <b>Artofact</b><br>
        Consulta's operations and projects tool.<br>
        <small><a href="https://gitlab.com/Compiax/Consulta/artofact" target="_blank">https://gitlab.com/Compiax/Consulta/artofact (proprietary)</a></small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <img src="assets/images/analytiax.png" class="project-logo mx-auto">
      </div>
      <div class="col">
        <b>Analytiax</b><br>
        A text and sentiment analysis tool with data modeling and categorisation. Data gathering can be done using Datiax.<br>
        <small><a href="https://gitlab.com/Compiax/Consulta/analytiax" target="_blank">https://gitlab.com/Compiax/Consulta/analytiax (proprietary)</a></small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <img src="assets/images/datiax.png" class="project-logo mx-auto">
      </div>
      <div class="col">
        <b>Datiax</b><br>
        A mass-scale data consumption tool that utilises social media listening and web scraping to give a voice to the customers. Analysis done using Analytiax.<br>
        <small><a href="https://gitlab.com/Compiax/Consulta/datiax" target="_blank">https://gitlab.com/Compiax/Consulta/datiax (proprietary)</a></small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <img src="assets/images/propertysync.png" class="project-logo mx-auto">
      </div>
      <div class="col">
        <b>PropertySync</b><br>
        A property document, management, compliancy and analytics tool. Used by Town Planners, Engineers and other specialists to centralize the storage of Property Documents in the cloud.<br>
        <small><a href="https://gitlab.com/Compiax/PropertySync/propertysync" target="_blank">https://gitlab.com/Compiax/PropertySync/propertysync (proprietary)</a></small>
      </div>
    </div>
  </div>
</div>
