<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">References</h4>
    <hr>
    <div class="row">
      <div class="col">
        <p>
          <b>Prof. A.N. Schreuder</b><br>
          <small>Founder, Consulta (Pty) Ltd.</small><br>
          <small><a href="mailto:adre@consulta.co.za">adre@consulta.co.za</a></small><br>
          <small><a href="tel:+27 (0) 82 452 1666">+27 (0) 82 452 1666</a></small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <b>Mr. H.J. Potgieter</b><br>
          <small>Co-Founder, Compiax (Pty) Ltd.</small><br>
          <small><a href="mailto:hendri@compiax.io">hendri@compiax.io</a></small><br>
          <small><a href="tel:+27 (0) 71 682 1573">+27 (0) 71 682 1573</a></small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <b>Prof. A.P. Engelbrecht</b><br>
          <small>University of Stellenbosch</small><br>
          <small><a href="mailto:engel@sun.ac.za">engel@sun.ac.za</a></small><br>
          <small><a href="tel:+27 (0) 21 808 9259">+27 (0) 21 808 9259</a></small>
        </p>
      </div>
    </div>
  </div>
</div>
