<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Experience</h4>
    <hr>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>Compiax (Pty) Ltd.</b><br>
        <small><a href="http://compiax.io">http://compiax.io</a></small><br>
        <small>August 2016 - Present</small>
      </div>
      <div class="col">
        <b>Chief Executive Officer</b><br>
        Co-Founded and managed Compiax, a startup specialising in software engineering, artificial intelligence and data science. Helped achieve increasing profit and asset growth year by year. The team grew to a size of 7 talented professionals. Responsible for company strategy and vision. Duties included leading technical engineering, project management, software engineering, artificial intelligence and data science consultation. Successfully delivered over 30 projects ranging from full-stack microservice applications to cloud integration software.
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>Consulta (Pty) Ltd.</b><br>
        <small><a href="http://consulta.co.za">http://consulta.co.za</a></small><br>
        <small>May 2013 - August 2016</small>
      </div>
      <div class="col">
        <b>Software Engineer</b><br>
        Started and developed the first software engineering department in Consulta. Responsibilities includes leading software engineering operations, architectural design and project management. Developed Artofact, a proprietary project and financial management application that has successully helped Consulta to budget, manage and achieve predicted project and company targets.
      </div>
    </div>
    <div class="row">
      <div class="entity px-3">
        <b>Arn3 (Pty) Ltd.</b><br>
        <small>January 2011 - May 2013</small>
      </div>
      <div class="col">
        <b>Chief Executive Officer</b><br>
        Started a small freelance software engineering company to do software engineering projects while still in university. Developed the accompanying application for the book, Live and Lead by Coen Bester (ISBN: 0987034618).
      </div>
    </div>
  </div>
</div>
