<div class="row bg-personal-section text-white">
  <div class="profile-picture-container d-flex align-items-center justify-content-center py-3">
    <div>
      <img src="assets/images/arneschreuder-square.png" class="profile-picture d-block mb-3 mx-auto">
      <ul class="list-inline">
        <!-- <li class="list-inline-item">
          <a class="link-icon" href="https://arneschreuder.com">
            <fa-icon [icon]="faGlobe"></fa-icon>
          </a>
        </li> -->
        <li class="list-inline-item">
          <a class="link-icon" href="https://github.com/arneschreuder">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-icon" href="https://gitlab.com/arneschreuder">
            <fa-icon [icon]="faGitlab"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-icon" href="https://www.linkedin.com/in/arneschreuder">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-icon" href="https://www.instagram.com/arneschreuder">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-icon" href="https://www.facebook.com/arneschreuder">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-icon" href="https://twitter.com/arneschreuder">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col py-3">
    <h2 class="text-uppercase">Arné Schreuder</h2>
    <h4 class="text-uppercase text-primary">Software Engineering, Artificial Intelligence, Data Science</h4>
    <p>
      I am a technology visionary, academic and businessman with a passion for cutting edge technological solutions. I spend most of my time improving myself as a Computer Scientist and constantly learn more about my field. I am particularly interested in full-stack software engineering, artificial intelligence paradigms like machine learning, genetic algorithms, partical swarm optimisation and everything related to data science. I believe that software can build future as we envision it to be.
    </p>
  </div>
  <div class="col-auto d-flex align-items-center py-3">
    <ul class="list-unstyled">
      <li>
        <span class="icon">
          <fa-icon [icon]="faIdCard"></fa-icon>
        </span>
        Andries Nicolaas Schreuder
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faFingerprint"></fa-icon>
        </span>
        9110015117086
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>
        <a class="clickable" href="mailto:arneschreuder@icloud.com">arneschreuder@icloud.com</a>
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faPhone"></fa-icon>
        </span>
        <a class="clickable" href="tel:+27 (0) 83 564 6425">+27 (0) 83 564 6425</a>
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
        Caucasian, Male
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faLanguage"></fa-icon>
        </span>
        Afrikaans, English
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faGlobeAfrica"></fa-icon>
        </span>
        South African 🇿🇦
      </li>
      <li>
        <span class="icon">
          <fa-icon [icon]="faCar"></fa-icon>
        </span>
        Code B
      </li>
    </ul>
  </div>
</div>
<!-- <div class="row bg-gray">
  <div class="profile-picture-container d-flex flex-wrap align-items-center">

    < </div> <div class="col">
      <h1 class="text-uppercase">Arné Schreuder</h1>

      <h4>Software Engineering, Artificial Intelligence, Data Science</h4>
      <p>
        I am a software and technology visionary, academic and business man with a passion for cutting edge technological solutions. I spend most of my time improving myself as a Computer Scientist and constantly learn more about my field. I am particularly interested in full-stack software engineering, artificial intelligence paradigms like machine learning, genetic algorithms, partical swarm optimisation and everything related to data science. I believe that software can inspire others and create the future as we envision it to be.
      </p>

      <span>
        <fa-icon [icon]="faIdCard"></fa-icon> Andries Nicolaas Schreuder (9110015117086)
      </span>
      <span>
        <fa-icon [icon]="faEnvelope"></fa-icon> arneschreuder@icloud.com
      </span>
      <span>
        <fa-icon [icon]="faPhone"></fa-icon> +27 (0) 83 564 6425
      </span><br>
      <span>🧔🏻 Caucasian, Male</span>
      <span>🗣️ Afrikaans, English</span>
      <span>🇿🇦 RSA</span>
      <span>
        <fa-icon [icon]="faCar"></fa-icon> Code B
      </span>
  </div>
</div> -->
