<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Education</h4>
    <hr>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>University of Pretoria</b><br>
        <small>2016 - Present</small>
      </div>
      <div class="col">
        <b>MSc. Computer Science, Artificial Intelligence</b><br>
        Thesis: Training Neural Networks with Hyper Heuristics<br>
        Supervisors: Prof. A.N. Engelbrecht, Dr. C. Gleghorn<br>
        A novel hyper-heuristic framework that utilises bayesian inference to guide the selection and combination of low level search strategies (heuristics) that are used to train artificial neural networks.
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>University of Pretoria</b><br>
        <small>2015</small>
      </div>
      <div class="col">
        <b>CEM/CEP Certification, <i>cum laude</i></b><br>
        Coursework included studies and practical implementations of customer experience measurement and customer satisfaction.
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>University of Pretoria</b><br>
        <small>2014</small>
      </div>
      <div class="col">
        <b>BSc. Computer Science (Hons), Computer Security & Artificial Intelligence, <i>cum laude</i></b><br>
        Disseration: Security Project Management<br>
        Supervisor: Prof. H. Venter<br>
        A model for security project management that utlilises a test-driven security development process (TDSDP) within a parallel project management model and software engineering process.
      </div>
    </div>
    <div class="row mb-3">
      <div class="entity px-3">
        <b>University of Pretoria</b><br>
        <small>2010-2012</small>
      </div>
      <div class="col">
        <b>BSc. Computer Science</b><br>
        Major: Computer Science<br>
        Studies included a wide variety of fields in and related to Computer Science including artificial intelligence, computer security, compiler constrution, operating systems, computer graphics, calculus, algebra, physics, statistics, business studies and philosophy.
      </div>
    </div>
    <!-- <div class="row">
      <div class=" entity px-3">
        <b>Hoërskool Overkruin</b><br>
        <small>2005-2009</small>
      </div>
      <div class="col">
        <b>National Senior Certificate</b><br>
        Achievements: Headboy (2009), Top Academic Student (2005-2009), Junior City Council (2007-2009)
      </div>
    </div> -->
  </div>
</div>
