<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Awards</h4>
    <hr>
    <ul class="mb-0">
      <li>
        Special Recognition for Breakthrough Development and Innovation, Consulta (2013)
      </li>
      <li>
        Entelect Architectural Awareness Award, University of Pretoria, COS 301 final year project (2012)
      </li>
      <li>
        Accenture Best Computer Science Project with at least one BIT student, University of Pretoria, COS 301 final year project (2012)
      </li>
      <li>
        Best COS 301 Student, University of Pretoria (2012)
      </li>
      <li>
        Top Academic Achievers, Computer Science, University of Pretoria (2010-2012)
      </li>
      <li>
        Golden Key, University of Pretoria (2010-2012, 2014)
      </li>
      <li>
        3rd place Standard Bank IT challenge, University of Pretoria (2011)
      </li>
    </ul>
  </div>
</div>
