<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Technical Skills</h4>
    <hr>
    <div class="row">
      <div class="col">
        <b>Programming Languages:</b>
        Python,
        Typescript,
        JavaScript,
        C/C++,
        PHP,
        Java,
        Swift,
        Kotlin,
        Scala,
        GoLang
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Data Science:</b>
        Tensorflow,
        PyTorch,
        Scikit-Learn,
        Cloud Dataprep
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Runtimes:</b>
        NodeJS
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Version Control:</b>
        Git
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Cloud:</b>
        Google Cloud Platform,
        Amazon Web Services,
        Digital Ocean,
        Openstack
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Frameworks:</b>
        Angular,
        ExpressJS,
        Django
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Databases:</b>
        MySQL,
        PostgreSQL,
        MSSQL,
        MongoDB,
        BigQuery
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Orchestration:</b>
        Kubernetes,
        Terraform,
        Docker Swarm
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Containerisation:</b>
        Docker,
        KVM,
        LXD
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Libraries:</b>
        Bootstrap,
        Socket.io
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Services:</b>
        Firebase,
        RabbitMQ,
        Pub/Sub,
        Cloud Scheduler,
        Apache Airflow,
        Cloud Dataflow
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Web Servers:</b>
        Apache,
        Nginx,
        IIS
      </div>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col">
    <h4 class="text-uppercase text-danger">Soft Skills</h4>
    <hr>
    <div class="row">
      <div class="col">
        Leadership,
        Project Management,
        Communication,
        Strategic Planning
      </div>
    </div>
  </div>
</div>
