@import 'colors.scss';

$brand-primary: $blue-500;
$brand-success: $green-500;
$brand-info: $blue-500;
$brand-warning: $orange-500;
$brand-danger: $red-500;
$brand-text: $gray-900;

$aside-width: 18rem !important;
$inner-aside-width: 12rem !important;
$inner-aside-width-thin: 4rem !important;
